---
layout: default
---
    <section class="container">
      <div class="jumbotron-wrapper" style="background-image: url('/images/categories/{{ page.image }}')";>
      <div class="jumbotron">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description}}</p>
      </div>
      </div>
    </section>

    <section class="container related">
      {% for range in site.data.ranges %}
        {% if range.category == page.category %}
          <div class="col-xs-6 col-md-3">
             {% assign rangePermalink = range.range | downcase | replace:' ','-' %}
              <a href="/{{ range.category }}/{{ rangePermalink }}.html" class="thumbnail">
                <img class="img-responsive" src="/media/generated/thumbs/ranges/{{ range.image }}">
                <p class="item-label">{{ range.range | capitalize }}</p>
                {% if range.tagline %}<p class="item-tagline">{{ range.tagline }}</p>{% endif %}
              </a>
          </div>
        {% endif %}
      {% endfor %}
    </section>
