---
layout: default
---
    <section class="container">
      <div class="jumbotron-wrapper" style="background-image: url('/images/categories/{{ page.image }}')";>
      <div class="jumbotron">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description}}</p>
      </div>
      </div>
    </section>

    <section class="container related">
      {% for product in site.data.products %}
        {% if product.category == page.code %}
          <div class="col-xs-6 col-md-3">
             {% assign productPermalink = product.code | downcase | replace:' ','-' %}
              <a href="/product/{{ productPermalink }}.html" class="thumbnail">
                <img class="img-responsive" src="/media/generated/thumbs/products/{{ product.image }}">
                <p class="item-label">{{ product.name | capitalize }}</p>
              </a>
          </div>
        {% endif %}
      {% endfor %}
    </section>

    <section class="container subcategories">
      <p><strong> Browse by category </strong></p>
      {% for subcategory in site.data.subcategories %}
        {% if subcategory.category == page.code %}
          <div class="col-xs-6 col-md-3">
             {% assign subcategoryPermalink = subcategory.code | downcase | replace:' ','-' %}
              <a href="/sub/{{ page.code }}/{{ subcategoryPermalink }}" class="thumbnail">
                <p class="item-label">{{ subcategory.title | capitalize }}</p>
              </a>
          </div>
        {% endif %}
      {% endfor %}
    </section>
