---
layout: default
---
    <section class="container">
      <div class="jumbotron-wrapper" style="background-image: url('/images/categories/{{ page.image }}')";>
      <div class="jumbotron">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description}}</p>
      </div>
      </div>
    </section>

    <section class="container related">
        <ul>
        {% for range in site.data.ranges %}
        {% if range.category == page.category %}
          <li>
            <a href="/range/{{ range.category }}/{{ range.code }}.html">
              {{ range.range }}
            </a>
          </li>
        {% endif %}
        {% endfor %}
        </ul>
    </section>
