---
layout: default
---

{% for range in site.data.ranges %}
  {% if range.code == page.range %}
    {% assign rangeName = range.range %}
    {% assign rangeCategory = range.category %}
  {% endif %}
{% endfor %}

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="/{{ rangeCategory }}">{{ rangeCategory }}</a></li>
          <li><a href="/{{ rangeCategory }}/{{ page.range }}.html">{{ rangeName }}</a></li>
          <li class="active">{{ page.name }}</li>
        </ol>
      </div>
      <div class="col-md-6">
        <figure class="well">
          <a class="single" href="/media/images/products/{{ page.image }}" class="thumbnail">
            <img class="img-responsive img-rounded" src="/media/images/products/{{ page.image }}">
          </a>
        </figure>
          <div class="row">
          {% if page.image2 %}
            <div class="col-xs-4 col-md-4">
              <a class="gallery" href="/media/images/products/{{ page.image }}" class="thumbnail">
              <img class="img-responsive" src="/media/images/products/{{ page.image }}">
              </a>
            </div>
            <div class="col-xs-4 col-md-4">
              <a class="gallery" href="/media/images/products/{{ page.image2 }}" class="thumbnail">
              <img class="img-responsive" src="/media/images/products/{{ page.image2 }}">
              </a>
            </div>
          {% endif %}
          {% if page.image3 %}
            <div class="col-xs-4 col-md-4">
              <a class="gallery" href="/media/images/products/{{ page.image3 }}" class="thumbnail">
              <img class="img-responsive" src="/media/images/products/{{ page.image3 }}">
              </a>
            </div>
          {% endif %}
          </div>
      </div>
      <div class="col-md-6">
        <h1 class="text-capitalize">{{ page.name | capitalize }}</h1>
        {% if page.desc %} <p class="description lead text-capitalize"> {{ page.desc | capitalize }} </p>  {% endif %}
        {% if page.tagline %} <p class="tagline"> {{ page.tagline }} </p>  {% endif %}
        {% if page.pricingNote %} <p class="pricingNote well well-sm"> {{ page.pricingNote }} </p> {% endif %}

        {% if page.displayRRP  == 'y' %}
          {% if page.displayUnit  == 'y' %} <strike>{% endif %}
          <p class="bg-info  price-info price-rrp"> RRP: € {{ page.RRP}} </p>
          {% if page.displayUnit  == 'y' %} </strike>{% endif %}
        {% endif %}
        {% if page.displayUnit  == 'y' %}
          {% if page.displaySale  == 'y' %} <strike>{% endif %}
          <p class="bg-primary price-info price-unit"> Our Price: € {{ page.Unit}} </p>
          {% if page.displaySale  == 'y' %} </strike>{% endif %}
        {% endif %}
        {% if page.displaySale  == 'y' %}
          <p class="bg-danger text-muted lead price-info price-sale"> Sale price: <span class="glyphicon glyphicon-eur" aria-hidden="true"></span> {{ page.Sale}} </p>
        {% endif %}
        {{ content }}
      </div>
    </div>

      <h4>Items in this collection</h4>
      <div class="row related-items">
        {% for product in site.data.products %}
          {% if product.range == page.range %}
          <div class="col-xs-6 col-md-3">
              <a href="/product/{{ product.code }}.html" class="thumbnail">
                <img class="img-responsive" src="/media/images/products/{{ product.image }}">
                <p class="item-label">{{ product.name | capitalize }}</p>
              </a>
          </div>
          {% endif %}
        {% endfor %}
      </div>
</div>
<link href="/css/colorbox.css" rel="stylesheet" type="text/css" />
