---
layout: default
---

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <figure class="well">
          <img class="img-responsive img-rounded" src="/media/images/products/{{ page.image }}">
        </figure>
          <div class="row">
          {% if page.image2 %}
            <div class="col-xs-4 col-md-4">
              <a class="gallery" href="/media/images/products/{{ page.image }}" class="thumbnail">
              <img class="img-responsive" src="/media/generated/thumbs/products/{{ page.image }}">
              </a>
            </div>
            <div class="col-xs-4 col-md-4">
              <a class="gallery" href="/media/images/products/{{ page.image2 }}" class="thumbnail">
              <img class="img-responsive" src="/media/generated/thumbs/products/{{ page.image2 }}">
              </a>
            </div>
          {% endif %}
          {% if page.image3 %}
            <div class="col-xs-4 col-md-4">
              <a class="gallery" href="/media/images/products/{{ page.image3 }}" class="thumbnail">
              <img class="img-responsive" src="/media/generated/thumbs/products/{{ page.image3 }}">
              </a>
            </div>
          {% endif %}
          </div>
      </div>
      <div class="col-md-6">
        <h1 class="text-capitalize">{{ page.title | capitalize }}</h1>
        {% if page.desc %} <p class="description lead text-capitalize"> {{ page.desc | capitalize }} </p>  {% endif %}
        {% if page.tagline %} <p class="tagline"> {{ page.tagline }} </p>  {% endif %}
        {% if page.pricingNote %} <p class="pricingNote well well-sm"> {{ page.pricingNote }} </p> {% endif %}

        {{ content }}
      </div>
    </div>

</div>
<link href="/css/colorbox.css" rel="stylesheet" type="text/css" />
