temp
node_modules
bower_components
app/css
app/_data/*.csv
app/_posts/departments
app/_posts/products
app/_posts/ranges
app/_posts/categories
app/_posts/subcategories
app/media/images/*
app/media/specsheets
app/media/generated
dev
Gemfile.lock
.env
dist
scripts/raw
