p.phone{
  margin-top: 20px;
}
@media (min-width: $screen-md-min) {
  p.phone{
    margin-top: 40px;
    text-align: center;
  }
  p.opening {
    margin-top: 20px;
  }
  ul.secondary-links {
    margin-top: 86px;
  }
}

